body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #000000;
}

.navbar {
    background-color: #000;
    display: flex;
    height: 80px;
}

.logo {
    margin-left: 80px;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

.reminder {
    margin-top: 30px;
    margin-left: 220px;
    color: #fff;
    font-size: 14px;
    letter-spacing: 2px;
}

.results-header {
    background-color: #19e68c;
    text-align: center;
    height: 120px;
    padding: 10px 0;
}

.results-title {
    color: #161616;
    font-size: 44px;
    font-weight: bold;
}

.results-container {
    background-color: #19e68c;
    text-align: center;
    padding: 20px;
}

.uploaded-image-container,
.best-result-container {
    display: inline-block;
    padding-left: 30px;
}

.uploaded-image-title,
.best-result-title {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: bold;
    color: #000;
    margin-bottom: 10px;
}

.uploaded-image {
    width: 300px;
    height: 300px;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;}

.best-result-image {
    width: 300px;
    height: 300px;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;}

.other-matches {
    background-color: #fff;
    text-align: center;
    padding: 20px 0;
}

.other-matches-title {
    color: #000;
    font-size: 34px;
    font-weight: bold;
}

.knn-image-gallery {
    background-color: #fff;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.knn-image-container {
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.knn-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.knn-details {
    text-align: center;
    margin-top: 10px;
}

.try-again-button {
    display: block;
    margin: 30px auto;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #fff;
    color: #000000;
    font-size: 16px;
    width: 140px;
    height: 50px;
    font-weight: bold;
    cursor: pointer;
    border: none;
}
